body{
    text-align: center;
}
h1{
    display: block;
}
ul{
    list-style-type: disc;
}
li{
    display: list-item;
}
img{
    display: block;
    max-width: 100%;
    height:auto;
    margin:0 auto;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
#img-div{
    margin: 0;
}

#image{
    
}
figure{
    display: block;
}
